<!-- Footer -->
<footer id="footer">
    <div class="container">
    <div class="row">
        <section class="4u 6u(medium) 12u$(small)">
        <h3>About Osiris</h3>
        <p>Osiris is part of Ubica2 project and is being created by Bitmonlab, the R&amp;D department at
            Zed Worldwide.</p>
        <p>
            <meta http-equiv="content-type" content="text/html; charset=utf-8">
            Ubica2 has been funded by the Spanish Ministerio de
            Industria, Energía y Turismo. Plan Nacional de Investigación
            Científica, desarrollo e Innovación Tecnológica 2013-2016. </p>
        <p class="attribution"> <img alt="" src="/images/logo-ministerio.gif"><br>
            <meta http-equiv="content-type" content="text/html; charset=utf-8">
            Número de expediente:&nbsp;TSI-100105-2014-196</p>
        <br>
        </section>
        <section class="4u 6u$(medium) 12u$(small)">
        <h3>This is an Open Source Project</h3>
        <p>Find the project at Github. Feel free to contribute.</p>
        <ul class="alt">
            <li><a target="_blank" title="Github " href="https://github.com/osiris-indoor">Osiris
                main page at Github<br>
            </a></li>
            <li><a target="_blank" title="Osiris server" href="https://github.com/osiris-indoor/osiris">Osiris
                server and core repository<br>
            </a></li>
            <li><a target="_blank" title="Android sample app" href="https://github.com/osiris-indoor/mapviewer-android"><span
                style="text-decoration: underline;">Sample Android app</span></a></li>
            <li><a target="_blank" title="Sample maps" href="https://github.com/osiris-indoor/sample-maps">Example
                maps<br>
            </a></li>
        </ul>
        </section>
        <section class="4u$ 12u$(medium) 12u$(small)">
        <h3><a id="Contact Us" name="Contact Us"></a>Contact Us</h3>
        <p>Osiris is an Open Source server for Indoor Maps. Zed provides
            advanced services on top of Osiris such as indoor location, indoor
            navigation and speech recognition. We provide the perfect set of
            technologies for smart cities. Find more about our solutions&nbsp;
            in the&nbsp; Smart Projects web site and contact us through its <a title="Contact us"
            href="http://smartprojects.zed.com/?page_id=70">contact page</a>.</p>
        <ul class="alt">
            <li><a target="_blank" title="Smart Projects" href="http://smartprojects.zed.com/">Smart
                projects at Bitmonlab.</a></li>
            <li><a target="_blank" href="http://bitmonlab.com/">Bitmonlab
                projects page.</a></li>
            <li><a target="_blank" title="Zed Worldwide" href="http://www.zed.com/">Zed
                Worldwide</a></li>
        </ul>
        </section>
    </div>
    <ul class="copyright">
        <li>© Zed Worldwide. All rights reserved.</li>
    </ul>
    <ul class="attribution">
        <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
        <li>Images: <a href="http://unsplash.com">Unsplash</a></li>
    </ul>
    </div>
</footer>