<header id="header">
    <h1><a href="/index.html">Osiris</a></h1>
    <nav id="nav">
    <ul>
        <li><a href="/index.html">Home</a></li>
        
        {% assign pages = site.pages | sort:"weight"  %}
        {% for page in pages %}
            {% if page.title %}
            <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
        
        <li><a href="#Contact%20Us">Contact us</a></li>
    </ul>
    </nav>
</header>