   <!-- Banner -->
    <section id="banner">
        <h2>The Open Source Indoor Rest Server</h2>
        <p> Easy to create, easy to use.</p>
        <ul class="actions">
        <li> <a href="#What%20is%20Osiris?" class="button big">Learn More</a> </li>
        </ul>
    </section>
    <!-- One -->
    <section id="one" class="wrapper style1 align-center">
        <div class="container">
        <header>
            <h2><a id="What is Osiris?" name="What is Osiris?"></a>What is Osiris?</h2>
            <p>Osiris is a solution providing indoor mapping and APIs to access
            indoor GIS data. It is targeted to small / medium projects (smart
            buildings and campuses) and is provided as a software package ready
            to be installed and used. </p>
        </header>
        <div class="row 200%">
            <section class="4u 12u$(small)"> <i class="icon big rounded fa-building"></i>
            <p>Building data is sent as vector information, making easy the
                creation of applications representing your venues .</p>
            </section>
            <section class="4u 12u$(small)"> <i class="icon big rounded fa-map-marker"></i>
            <p>Osiris provides an additional Points of Interest API which can be
                used to point external outdoor places or services.</p>
            </section>
            <section class="4u$ 12u$(small)"> <i class="icon big rounded fa-mobile-phone"></i>
            <p>A batch process generates a map in Mapsforge format that can be
                used to display the outdoor maps in your application.</p>
            </section>
        </div>
        </div>
    </section>
    <!-- Two -->
    <section id="two" class="wrapper style2 align-center">
        <div class="container">
        <header>
            <h2>Indoor maps for Smart Cities</h2>
            <p>The prefect solution for smart buildings and campuses.</p>
        </header>
        <div class="row">
            <section class="feature 6u 12u$(small)"> <img class="image fit" src="images/pic01.jpg"
                alt="">
            <h3 class="title">Create your maps</h3>
            <p>Osiris uses Open Street Map data format for input. It is easy to <a href="mapping.html">create</a>
                indoor maps using JOSM and upload the result file to the server.</p>
            </section>
            <section class="feature 6u$ 12u$(small)"> <img class="image fit" src="images/pic02.jpg"
                alt="">
            <h3 class="title">Sample Android application</h3>
            <p>See how to use Osiris downloading the <a href="https://github.com/osiris-indoor/mapviewer-android">sample
                code</a> from Github. The demo application will display your
                buildings and the surrounding area.</p>
            </section>
            <section class="feature 6u 12u$(small)"> <img class="image fit" src="images/pic03.jpg"
                alt="">
            <h3 class="title">Build your server</h3>
            <p>Get the distributable binary or build the <a href="https://github.com/osiris-indoor/osiris">source code</a>. Deploy the
                package on your server and make use of the REST APIs to connect
                your applications.</p>
            </section>
            <section class="feature 6u$ 12u$(small)"> <img class="image fit" src="images/pic04.jpg"
                alt="">
            <h3 class="title">Use our services</h3>
            <p>Forget about the maintenance and upgrade problems using the
                solutions through our own cloud. <a href="http://smartprojects.zed.com/?page_id=70">Contact
                us</a>, how can we help you?</p>
            </section>
        </div>
        <footer>
            <ul class="actions">
            <li> <a href="https://github.com/osiris-indoor" class="button alt big">Download</a> </li>
            </ul>
        </footer>
        </div>
    </section>

