<div class="share-page container">
    <ul class="icons">
    <il><a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow"  class="icon rounded fa-facebook" rel="nofollow" target="_blank" title="Share on Facebook"><span class="label">Facebook</span></a>
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&related={{ site.twitter_username }}&via=OsirisIndoor" class="icon rounded fa-twitter" rel="nofollow" target="_blank" title="Share on Twitter+"><span class="label">Twitter</span></a></li>
    <il><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="icon rounded fa-google-plus" rel="nofollow" target="_blank" title="Share on Google+"><span class="label">Google+</span></a></li>
    <il><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ page.title}} {{page.description}}&source={{ site.url }}{{ page.url }}" class="icon rounded fa-linkedin" rel="nofollow" target="_blank" title="Share on Linkedin"><span class="label">Google+</span></a></li>
    <il><a href="mailto:?subject={{ page.title }}&body={{ site.url }}{{ page.url }}" rel="nofollow"  class="icon rounded fa-envelope" rel="nofollow" target="_blank" title="Share on Facebook"><span class="label">Facebook</span></a></li>
    </ul>    
</div>
