---
layout: default
---
 <!-- Main -->
    <section id="main" class="wrapper">
      <div class="container">
        <header class="major">
          <h2>{{ page.title }}</h2>
          <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        </header>
        <a href="#" class="image right"><img src="/images/{{ page.image }}" alt=""></a>     
        
        {{ content }}
        
      </div>
    </section>
